body {
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  padding: 0;
}

.admin-nav-bar {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding: 8px;
  text-align: center;
}
