.button-logout button {
  background-color: #f8f7f7;
  border: none;
  border-radius: 10px;
  color: #f25252;
  display: flex;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 5px 25px;
}
