.delivery-image {
  height: 180px;
  width: 270px;
}

.login {
  align-items: center;
  background-color: #f8f7f7;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 55px;
  padding: 30px;
  width: 80%;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Square+Peg&display=swap') ;

.login h1 {
  font-family: Caveat , cursive;
  font-size: 68px;
  margin-bottom: 6px;
  margin-top: -20px;
}

.login input {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 9px;
  width: 90%;
}

.btn-login {
  background-color: #f25252;
  border: none;
  border-radius: 10px;
  color: #f8f7f7;
  display: flex;
  font-weight: 800;
  margin-bottom: 20px;
  margin-left: 55px;
  padding: 10px 50px;
}

.btn-register {
  background-color: #080c17;
  border: none;
  border-radius: 10px;
  display: flex;
  font-weight: 800;
  margin-bottom: 20px;
  padding: 10px 50px;
}


.btn-register a {
  color: white;
  text-decoration: none;
}

.user-not-found {
  color: red;
  font-size: 12px;
  text-align: center;
}
