.title {
  color: white;
  text-align: center;
  text-decoration: underline;
}

.detalhes-pedido {
  align-items: center;
  color: white;
  display: flex;
  font-size: 10px;
  gap: 3px;
  justify-content: space-around;
  margin-left: 5px;
  text-decoration: underline;
}

.status-btn {
  padding: 5px;
  width: 25%;
}

.detalhes-pedido2 {
  align-items: center;
  border: 1px solid white;
  display: flex;
  margin-left: 40px;
  margin-top: 20px;
  width: 80%;
  background-color: aliceblue;
  justify-content: space-around;
}
