.orders {
  align-items: center;
  background-color: ghostwhite;
  border: 1px solid white;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: space-evenly;
  margin: 2.5rem;
  width: 80%;
}
